

.app-wrapper{
  display: grid;
grid-template-areas:
"h h h"
"n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
    max-width: 1200px;
    margin: 0 auto;
}
/*.header{*/
/*  grid-area: h;*/
/*  background-color: gold;*/
/*}*/
/*.nav{*/
/* grid-area: n;*/
/*  background-color: red;*/

/*}*/
/*.content{*/
/* grid-area: c;*/
/*  background-color: blue;*/
/*}*/
/*header img{*/
/*    width: 30px;*/
/*}*/
/*.content img{*/
/*    width: 300px;*/
/*}*/